* {
  font-family: "Josefin Sans", sans-serif;
}
body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  min-width: 600px;
}

.root {
  display: flex;
  width: 600px;
  margin: auto;
  flex-wrap: wrap;
}

.score-wrapper {
  text-align: center;
  margin: 15px 0;
  font-size: 30px;
}
.time-wrapper {
  font-size: 18px;
}

.root .item {
  display: flex;
  justify-content: center;
  width: 150px;
  height: 150px;
  position: relative;
  overflow: hidden;
  background-image: url("../images/floor.jpg");
  background-position: center;
  background-size: cover;
}

.root .item div {
  position: absolute;
  width: inherit;
  height: inherit;
  background-position: center;
  background-size: cover;
  cursor: pointer;
  transition: 0.5s;
  border-radius: 50% 50% 0 0;
  transform: translateY(210px);
}

.root .item .on {
  transform: translateY(0px);
}

.root .item .mole {
  background-image: url("../images/target.png");
  width: 85%;
}

.root .item .boom {
  background-image: url("../images/boom.png");
}
